@import 'tailwindcss';
@plugin '@tailwindcss/forms';

:global(:root) {
	color-scheme: light dark;
}

:global(body) {
	@apply min-h-svh bg-white font-sans text-stone-900 antialiased transition-colors duration-300 dark:bg-stone-950 dark:text-stone-100;
}

@theme {
--color-rock-spray-50: #fef7ee;
--color-rock-spray-100: #fceed8;
--color-rock-spray-200: #f8d9b0;
--color-rock-spray-300: #f3bc7e;
--color-rock-spray-400: #ed964a;
--color-rock-spray-500: #e87a27;
--color-rock-spray-600: #da611c;
--color-rock-spray-700: #ba4c1a;
--color-rock-spray-800: #903b1c;
--color-rock-spray-900: #74331a;
--color-rock-spray-950: #3f170b;

--color-torea-bay-50: #edf3ff;
--color-torea-bay-100: #dfe8ff;
--color-torea-bay-200: #c5d4ff;
--color-torea-bay-300: #a1b6ff;
--color-torea-bay-400: #7c8ffd;
--color-torea-bay-500: #5d69f7;
--color-torea-bay-600: #3f3fec;
--color-torea-bay-700: #3532d0;
--color-torea-bay-800: #2c2ba8;
--color-torea-bay-900: #2d2f8d;
--color-torea-bay-950: #19194d;

--color-chateau-green-50: #f0fdf4;
--color-chateau-green-100: #dbfde6;
--color-chateau-green-200: #baf8cf;
--color-chateau-green-300: #84f1a9;
--color-chateau-green-400: #47e17c;
--color-chateau-green-500: #1fc85a;
--color-chateau-green-600: #14ae4a;
--color-chateau-green-700: #13823a;
--color-chateau-green-800: #146732;
--color-chateau-green-900: #13542c;
--color-chateau-green-950: #042f15;



}