@import 'tailwindcss';
@plugin '@tailwindcss/forms';

:global(:root) {
	color-scheme: light dark;
}

:global(body) {
	@apply min-h-svh bg-white font-sans text-stone-900 antialiased transition-colors duration-300 dark:bg-stone-950 dark:text-stone-100;
}

@theme {
--color-rock-spray-50: #fef7ee;
--color-rock-spray-100: #fceed8;
--color-rock-spray-200: #f8d9b0;
--color-rock-spray-300: #f3bc7e;
--color-rock-spray-400: #ed964a;
--color-rock-spray-500: #e87a27;
--color-rock-spray-600: #da611c;
--color-rock-spray-700: #ba4c1a;
--color-rock-spray-800: #903b1c;
--color-rock-spray-900: #74331a;
--color-rock-spray-950: #3f170b;
}